@import '../../styles/variables.scss';


h1 {
  font-family: $spaceMono;
  font-weight: $fontBold;
}

.banner {
    position: relative;
    width: 100%;
    max-height: 215px;
    height: 100%;
    padding: 40px 0;
    background-color: #4E105C;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;

  h1 {
    color: #fff;
    font-weight: 400;
    margin: 0;
  }

  .banner--text {
    z-index: 1;
  }


}

.image {
  position: absolute;

  &__circle {
    bottom: 35%;
    left: 45%;
  }
  &__triangle {
    top: 10%;
    left: 60%;
  }
}